<!--<h1>Topic#index</h1>-->
<!--<div class="panel">-->
  <!--<p>An uncle translates the playing fork. The supernatural coordinates the billfold.-->
    <!--An insult jacks the typewriter. How will the chief poster boggle? On top of a corridor moans an independence.-->
  <!--</p>-->
<!--</div>-->
<!--<hr>-->

<!--<div ng-controller="TopicCtrl">-->
  <!--<ul>-->
    <!--<li ng-repeat="entry in entries">-->
      <!--{{ entry.name }}-->
    <!--</li>-->
  <!--</ul>-->

  <!--<hr>-->

  <!--<topic-list></topic-list>-->
<!--</div>-->

<!--<hr>-->

<!--<div ng-controller="topicsCtrl">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2">-->
        <!--&lt;!&ndash;Sidebar content&ndash;&gt;-->

        <!--&lt;!&ndash;Search: <input ng-model="$ctrl.query" />&ndash;&gt;-->

      <!--</div>-->
      <!--<div class="col-md-10">-->
        <!--&lt;!&ndash;Body content&ndash;&gt;-->

        <!--<ul class="phones">-->
          <!--<li ng-repeat="phone in $ctrl.topics | filter:$ctrl.query">-->
            <!--<span>{{phone.name}}</span>-->
            <!--<p>{{phone.snippet}}</p>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<topic-card-list></topic-card-list>-->
<!--&lt;!&ndash;<div ng-controller="namesCtrl">&ndash;&gt;-->

  <!--&lt;!&ndash;<p>Type a letter in the input field:</p>&ndash;&gt;-->

  <!--&lt;!&ndash;<p><input type="text" ng-model="test"></p>&ndash;&gt;-->

  <!--&lt;!&ndash;<ul>&ndash;&gt;-->
    <!--&lt;!&ndash;<li ng-repeat="x in names | filter:test">&ndash;&gt;-->
      <!--&lt;!&ndash;{{ x }}&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<hr>-->
<div ng-app="topicApp">
  <div ng-view></div>
</div>

